<div th:replace="fragments/header"></div>

    <div class="table-container">
        <div class="table-header">
            <div class="table-icon">📋</div>
            <h2 class="table-title">Liste des Projets</h2>
        </div>

        <!-- Affichage des erreurs -->
        <div th:if="${error != null}" style="color: red;">
            <p th:text="${error}"></p>
        </div>

        <!-- Tableau des projets -->
        <table th:if="${projects != null and !projects.isEmpty()}">
            <thead>
                <tr>
                    <th>TITLE</th>
                    <th>CLIENT</th>
                    <th>DEADLINE</th>
                    <th>CREATED AT</th>
                    <th>Assigned</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="project : ${projects}">
                    <td>
                        <a th:href="@{'/api/spring/project/' + ${project.external_id}}" th:text="${project.title}"></a>
                    </td>
                    <td th:text="${project.client.company_name}"></td>
                    <td th:text="${project.deadline}"></td>
                    <td th:text="${project.created_at}"></td>
                    <td th:text="${project.assignee.name}"></td>
                    
                </tr>
            </tbody>
        </table>

        <!-- Message si aucun projet -->
        <p th:if="${projects == null or projects.isEmpty()}">Aucun projet disponible.</p>

        <div class="pagination" th:if="${pagination != null}">
            <p>Total : <span th:text="${pagination.total}"></span></p>
            <p>Par page : <span th:text="${pagination.per_page}"></span></p>
            <p>Page actuelle : <span th:text="${pagination.current_page}"></span></p>
            <p>Dernière page : <span th:text="${pagination.last_page}"></span></p>
            <p>De : <span th:text="${pagination.from}"></span> à <span th:text="${pagination.to}"></span></p>
        
            <!-- Contrôles de navigation -->
            <div class="pagination-controls">
                <a th:if="${pagination.current_page > 1}"
                   th:href="@{/api/spring/projects(page=${pagination.current_page - 1})}"
                   >Précédent</a>
                <span th:each="i : ${#numbers.sequence(1, pagination.last_page)}">
                    <a th:href="@{/api/spring/projects(page=${i})}"
                       th:text="${i}"
                       th:classappend="${i == pagination.current_page} ? 'active' : ''"></a>
                </span>
                <a th:if="${pagination.current_page < pagination.last_page}"
                   th:href="@{/api/spring/projects(page=${pagination.current_page + 1})}"
                   >Suivant</a>
            </div>
        </div>
        
    </div>

<div th:replace="fragments/footer"></div>
